CONDA_EXE=/path/to/conda/bin/conda

DATA_DIR=/path/to/data
SFTLF_PATH=/path/to/landfrac_HadGEM3-GC31
ERA5_LAND_SEA_MASK_PATH=/path/to/era5_land_sea_mask.nc
ROOT_DIR=/path/to/hazGAN_for_CEs
PARQUETDIR=/path/to/footprints_parquet
HOT_DRY_EVENTS_DIR=/path/to/hot_dry_events
TRAINING_DIR=/path/to/training/

MASK_OCEAN=False
DATA_USED=canari
VERSION=version of the footprints used to train the model, e.g. 0_1_3, **MUST MATCH** the version set in TRAINING_DIR